html, body {
    margin: 0px;
    border: 0px;
    font-family: sans-serif;
}

div {
    width: auto;
    height: auto;
    margin: 45px;
    padding: 0px;

}

.header {
    height: 40px;
    padding: 10px;
    display: flex;
    background-color: black;
    color: white;
}

.title {
    font-family: "Danfo", sans-serif; 
    padding-left: 35%;
    text-justify: center;
    margin: 0px;
}

@media (min-width: 100px){  
    .title{
        padding-left: 10%;
    }
}

@media (min-width: 600px){  
    .title{
        padding-left: 35%;
    }
}

.menu {
    width: 36px;
    height: 36px;
    background-color:transparent;
    cursor: pointer;
}

#menu {
    width: 36px;
    height: 36px;
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search {
    width: 40px;
    height: 36px;
    size: 150%;
    background-color: transparent;
    cursor: pointer;
}

#search {
    width: 40px;
    height: 36px;
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.img {
    width: 300px;
    height: 300px;
    margin-left: 10px;
    margin-bottom: 10px;
    top: 0;
    padding: none;
    border-radius: 5%;
    object-fit: cover;
    border: 1px black solid;
    position: relative;
    transition: all .2s ease-in-out;
}

.img:hover {
    top:-4px;
    box-shadow:0 4px 3px #0e0e0e
}
